
body {background-color: pink;}
h1   {
  text-align: center;
  color: darkblue;
}
p{
  text-align: center;
  color: purple;
}
#heading{
  background-color: powderblue;
  width: 800px;
  height: 100px;
  margin-left: 110px;
  margin-right: 200px;
  margin-bottom: 5px;
}
 #MaineCoon{
   background-color: darkblue;
   width: 800px;
   height: 300px;
   margin-top: 80px;
   margin:auto;
 }
 h2{
   text-align:center;
   color: black;
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   margin:60px;
 }

 #Bluerussian{
   background-color: darkblue;
   width: 800px;
   height: 250px;
   margin-top: 100px;
   margin:auto;
 }
 h3{
   text-align:center;
   color: black;
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   margin:60px;
 }

 a{
   text-align:center;
   color: white;
   font-family: "Times New Roman", Times, serif;
   font-size: 50px;
   margin:30px;
 }
 #Abcat{
   background-color: darkblue;
   width: 800px;
   height: 250px;
   margin-top: 100px;
   margin:auto;
 }
 h4{
   text-align:center;
   color: black;
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   margin:60px;
 }
 #MunchCat{
   background-color: darkblue;
   width: 800px;
   height: 250px;
   margin-top: 100px;
   margin:auto;
 }
 h5{
   text-align:center;
   color: black;
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   margin:60px;
 }

 #poop {
  background-color: #42F4F4; /* Green */
  border: none;
  color: #42f4f4;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;

}
#poop {
 background-color: #4CAF50; /* Green */
 border: none;
 color: pink;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 margin-left: 10px;
 margin-bottom: 10px;

}
#poop {
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 margin-left: 10px;
 margin-bottom: 10px;

}
#poop {
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 margin-left: 10px;
 margin-bottom: 10px;

}
#poop {
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 margin-left: 10px;
 margin-bottom: 10px;

}
#poop {
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 margin-left: 10px;
 margin-bottom: 10px;

}
